//- open-software-base-explorer -- Part of codegouv project - generates static HTML files from YAML data
//- By: Marine Gout <marine.gout@data.gouv.fr>
//-     Emmanuel Raviart <emmanuel.raviart@data.gouv.fr>
//-     Guillaume Royer <guillaume.royer@data.gouv.fr>
//-
//- Copyright (C) 2015 Etalab
//- https://git.framasoft.org/codegouv/open-software-base-explorer
//-
//- open-software-base-explorer is free software; you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as
//- published by the Free Software Foundation, either version 3 of the
//- License, or (at your option) any later version.
//-
//- open-software-base-explorer is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.
//-
//- You should have received a copy of the GNU Affero General Public License
//- along with this program.  If not, see <http:>www.gnu.org/licenses/>.
extends ./layout/layout.jade

block title
  = program.name

block content
  section.description
    .title-box
      if (typeof program.canonical.screenshot !== 'undefined')
        .img-box
          img(src=program.canonical.screenshot.value style="width:100%; height:auto")
      .headline-box.center
        h1= program.canonical.canonicalName ? program.canonical.canonicalName.value : program.name
        if (typeof program.canonical.screenshot !== 'undefined')
          p.right.my0
            a(href=program.canonical.screenshot.value target="_blank")= __('Show screenshot')
    h2
      i.tag.icon
      = __('Description')

    div
      p
        if (program.canonical.longDescription)
          - var longDescription = (program.canonical.longDescription[locale] || program.canonical.longDescription.en)
          if (longDescription)
            != md(longDescription.value)
            small
              = __('Source: ')
              if validator.isURL(program[longDescription.source]['_source'].url)
                <a href="#{program[longDescription.source]['_source'].url}">#{program[longDescription.source]['_source'].name}</a>
              else
                = program[longDescription.source]['_source'].name
          
        else
          = __('No description available.')
  section.data(style="overflow: overlay;")
    h2= __('Informations')
    ul
      -
        var list = {
          license: __('License:'),
          sourceCode: __('Source code'),
          bugTracker: __('Bug tracker'),
          stackexchangeTag: __('Tag stackexchange')
        }
      each label, propertyName in list
        if (program.canonical[propertyName])
          - var property = (program.canonical[propertyName])
          li
            if property.value.indexOf('http') === 0
              a(href="#{property.value}")= label
            else
              = label + ' ' + property.value
            small
              = ' (' + __('Source: ')
              a(href="#{program[property.source]['_source'].url}")= program[property.source]['_source'].name
              = ')'
    h4= __('Explore data')
    div#jsonTree

  section.discussion
    h4= __('Discussion')
    div
      if (locale === 'fr')
        script.
          // Generate embedded block for Discourse discussion.
          DiscourseEmbed = {
            discourseUrl: "https://forum.etalab.gouv.fr/",
            discourseEmbedUrl: "https://code.gouv2.fr/#{ locale }/programs/#{ program.name }"
          };

          (function() {
          var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
          d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
          })();
        div#discourse-comments
      else
        p= __('Discussion is only active on the french version of the website.')

block append javascript
  script(src="/static/dist/js/jsonInspector.js")
  script.
    $(document).ready(function () {
      jsonInspector.load('jsonTree', !{ JSON.stringify(program) });
    });
